#### private ####

/sql/*
/KnowledgeBase/*
filesystem_metadata.json
/kb/*
#### public ####
!/kb/assets/
!/kb/assets/pub/
!/kb/assets/pub/*
!/kb/assets/pub/on cosmological thermodynamic character.md



# User-defined rules below
/.scratch/*
*.scratch
node_modules/
*.log
/.obsidian/*
.obsidian/
/.smtcmp_json_db/
.smtcmp_vector_db.tar*

# Ignore system and user-specific files
.bash_history
.bash_logout
.cache/
.conda/
.config/
.gitconfig
.local/
.motd_shown
.nvm/
.pki/
.profile
.python_history
.sudo_as_admin_successful
.wget-hsts
chrome/
miniconda/
.ssh/
/.old/*
__pycache__/
.hypothesis/*
*.idea
/.idea/*

# make, pdm...
.pdm.lock
/.pdm-build/*
pdm.lock
.venv/
.SCRATCH