# Ignore system and user-specific files
.bash_history
.bash_logout
.cache/
.conda/
.config/
.gitconfig
.local/
.motd_shown
.nvm/
.pki/
.profile
.python_history
.sudo_as_admin_successful
.wget-hsts
chrome/
miniconda/
.ssh/
/.old/*
__pycache__/
.hypothesis/*
*.idea
/.idea/*

# make, pdm...
.pdm.lock
/.pdm-build/*
pdm.lock
.venv/
.SCRATCH
